@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

@mixin atSmall {
  @media (min-width: 530px) {
    @content;
  }
}

@mixin atMobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin atSmallMedium {
  @media (min-width: 767px) {
    @content;
  }
}

@mixin atMedium {
  @media (min-width: 960px) {
    @content;
  }
}

body {
  color: $white;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  position: relative;
  background: $black;
  font-weight: 300;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #d1009d;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p,
ul,
ol {
  margin: 0 0 1.65em 0;
}

p,
li {
  line-height: 1.65;
}
