.gallery-post {
  padding-top: 100px;

  h1 {
    font-weight: 500;
  }

  .fullsize {
    display: flex;
    align-items: center;
    transform: scale(0);
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    padding: 60px 20px;

    .slick-list {
      margin: 20px 0;
    }

    &.active {
      display: flex;
      transform: scale(1);
      z-index: 10;
    }
  }
}
