@mixin sectionHeadline {
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
  padding-left: 25px;
  font-weight: 500;
  margin-bottom: 15px;
  &:before {
    content: '';
    position: absolute;
    display: block;
    top: 0px;
    left: 5px;
    width: 5px;
    height: 20px;
    transform: skewX(-25deg);
    transform-origin: 0 100%;
    background-color: #ffd500;
  }
}

@mixin greySection {
  background: $light-grey;
  clip-path: polygon(0 0, 100% 19%, 100% 100%, 0% 100%);
}
