.header {
  position: fixed;
  background: $white;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  z-index: 100;
  top: 0;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      a {
        text-decoration: none;
        color: $black;
      }
    }

    nav {
      display: flex;
      align-self: center;

      .menu-main-menu-container {
        display: flex;
        align-items: center;
      }

      .menu {
        display: flex;
        align-items: center;
        list-style: none;
        margin-bottom: 0;

        &-item {
          margin-right: 15px;

          a {
            color: lighten($black, $amount: 10%);
            font-weight: 300;
            text-decoration: none;
          }
        }
      }
    }
  }
}
