.popup-form {
  position: relative;
  // top: 0;
  height: 100vh;
  width: 100%;
  // background: rgba(0, 0, 0, 0.9);
  z-index: 99999;
  // margin-top: 30px;
  display: flex;
  overflow: hidden;

  &.active {
    display: flex;
  }

  h4 {
    font-size: 19px;
    margin-top: 2px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100%;
    position: static;
    flex-direction: column;
  }

  .succeess-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // color: $white;
    font-size: 48px;
    text-align: center;
    // animation: hide 600ms 4s forwards;

    h2 {
      margin-top: -40px;
    }

    @include atSmall {
      font-size: 36px;
    }

    &.closed {
      animation: hide 600ms forwards;
    }
  }

  form {
    padding: 10px 20px 100px 20px;
    background: $white;
    border-radius: 2px;
    display: flex;
    flex-direction: column;

    // position: relative;
    // animation: popupOpen 400ms;

    @include atSmall {
      padding: 10px 15px 50px 15px;
    }

    .errors {
      color: $red;
      font-size: 14px;
      text-align: center;
      margin-bottom: 10px;
      margin-top: 10px;
      width: 260px;
    }

    label {
      // margin-bottom: 15px;
    }

    .email-error,
    .password-error {
      margin: 4px 0 15px 0;
      color: $red;
      font-size: 14px;
      width: 260px;
    }

    input {
      padding: 10px;
      min-width: 260px;
      margin-top: 2px;
    }

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;

      img {
        width: 50px;
      }
    }
  }
}

@keyframes popupOpen {
  from {
    opacity: 0.5;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hide {
  from {
    // opacity: 0.5;
    transform: translateY(0);
  }

  to {
    // opacity: 1;
    transform: translateY(110%);
  }
}
