.sentence {
  padding: 25vh 0;

  h2 {
    font-size: 92px;
    position: relative;
    display: inline-block;
    line-height: 1.2;

    span {
      background: linear-gradient(
        0deg,
        transparent 7%,
        $yellow 7%,
        $yellow 15%,
        transparent 15%
      );
    }

    // &:after {
    //   content: '';
    //   position: absolute;
    //   left: 0;
    //   width: 100%;
    //   height: 15px;
    //   background: $yellow;
    //   bottom: -15px;
    // }
  }
}
